#dl-stc-counter-wrapper textarea {
	width: 100%;
}

#dl-stc-counter-wrapper button {
	margin-top: 10px;
}

#dl-stc-result {
	margin-top: 20px;
	background: #f7f7f7;
	padding: 10px;
	border: 1px solid #ddd;
	display: none;
}
